.phonebookBox {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.261);
  padding: 20px;
  padding-bottom: 30px;
}

.phonebookForm {
  margin: 0 auto;
  font-size: 24px;
}

.formLabel {
  width: 100%;
  margin: 0;
  display: block;
}

.phoneBookInputNumber,
.phoneBookInput {
  width: calc(100% - 20px);
  margin-top: 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.261);
  border-radius: 22px;
  padding: 10px;
  font-size: 18px;
}

.phoneBookInput {
  margin-bottom: 20px;
}

.phoneBookInputNumber {
  margin-bottom: 20px;
}

.phoneBookInputNumber:focus,
.phoneBookInput:focus {
  border-color: rgb(2, 4, 105);
}

.phoneBookSubmitBtn {
  width: 100%;
  padding: 10px;
  background-color: rgb(9, 1, 47);
  color: aliceblue;
  font-size: 18px;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, box-shadow 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.phoneBookSubmitBtn:hover {
  background-color: rgb(2, 4, 105);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
