.contactsList {
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* border: 1px solid rgba(0, 0, 0, 0.261); */
  border-radius: 20px;
  height: 150px;
  padding: 15px;
  font-size: 16px;
}
